<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rxjava2.android.samples">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.SelectionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.OperatorsActivity"
            android:label="@string/operators" />
        <activity
            android:name=".ui.networking.NetworkingActivity"
            android:label="@string/networking" />
        <activity
            android:name=".ui.rxbus.RxBusActivity"
            android:label="@string/rx_bus" />
        <activity
            android:name=".ui.pagination.PaginationActivity"
            android:label="@string/pagination" />
        <activity
            android:name=".ui.operators.ObservableExampleActivity"
            android:label="@string/simple" />
        <activity
            android:name=".ui.operators.transform.MapExampleActivity"
            android:label="@string/map" />
        <activity
            android:name=".ui.operators.combine.ZipExampleActivity"
            android:label="@string/zip" />
        <activity
            android:name=".ui.operators.CompositeDisposableActivity"
            android:label="@string/disposable" />
        <activity
            android:name=".ui.operators.filter.TakeExampleActivity"
            android:label="@string/take" />
        <activity
            android:name=".ui.operators.create.TimerExampleActivity"
            android:label="@string/timer" />
        <activity
            android:name=".ui.operators.create.IntervalExampleActivity"
            android:label="@string/interval" />
        <activity
            android:name=".ui.operators.SingleObserverExampleActivity"
            android:label="@string/SingleObserver" />
        <activity
            android:name=".ui.operators.CompletableObserverExampleActivity"
            android:label="@string/CompletableObserver" />
        <activity
            android:name=".ui.operators.FlowableExampleActivity"
            android:label="@string/Flowable" />
        <activity
            android:name=".ui.operators.mathematical.ReduceExampleActivity"
            android:label="@string/reduce" />
        <activity
            android:name=".ui.operators.transform.BufferExampleActivity"
            android:label="@string/buffer" />
        <activity
            android:name=".ui.operators.filter.FilterExampleActivity"
            android:label="@string/filter" />
        <activity
            android:name=".ui.operators.filter.SkipExampleActivity"
            android:label="@string/skip" />
        <activity
            android:name=".ui.operators.transform.ScanExampleActivity"
            android:label="@string/scan" />
        <activity
            android:name=".ui.operators.connectable.ReplayExampleActivity"
            android:label="@string/replay" />
        <activity
            android:name=".ui.operators.mathematical.ConcatExampleActivity"
            android:label="@string/concat" />
        <activity
            android:name=".ui.operators.combine.MergeExampleActivity"
            android:label="@string/merge" />
        <activity
            android:name=".ui.operators.create.DeferExampleActivity"
            android:label="@string/defer" />
        <activity
            android:name=".ui.operators.filter.DistinctExampleActivity"
            android:label="@string/distinct" />
        <activity
            android:name=".ui.operators.filter.LastOperatorExampleActivity"
            android:label="@string/last" />
        <activity
            android:name=".ui.subject.ReplaySubjectExampleActivity"
            android:label="@string/replay_subject" />
        <activity
            android:name=".ui.subject.PublishSubjectExampleActivity"
            android:label="@string/publish_subject" />
        <activity
            android:name=".ui.subject.BehaviorSubjectExampleActivity"
            android:label="@string/behavior_subject" />
        <activity
            android:name=".ui.subject.AsyncSubjectExampleActivity"
            android:label="@string/async_subject" />
        <activity
            android:name=".ui.operators.filter.ThrottleLastExampleActivity"
            android:label="@string/throttle_last" />
        <activity
            android:name=".ui.operators.filter.DebounceExampleActivity"
            android:label="@string/debounce" />
        <activity
            android:name=".ui.operators.transform.WindowExampleActivity"
            android:label="@string/window" />
        <activity
            android:name=".ui.operators.filter.ThrottleFirstExampleActivity"
            android:label="@string/throttle_first" />
        <activity
            android:name=".ui.operators.utility.DelayExampleActivity"
            android:label="@string/delay" />
        <activity
            android:name=".ui.operators.utility.MaterializeExampleActivity"
            android:label="@string/delay" />
        <activity
            android:name=".ui.operators.transform.SwitchMapExampleActivity"
            android:label="@string/delay" />

        <activity
            android:name=".ui.operators.combine.CombineLatestActivity"
            android:label="@string/delay" />
    </application>

</manifest>